n8n-workflows/cleverdogmethod-email-capture.json
{
  "name": "CleverDog Email Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cleverdogmethod-email",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "cleverdogmethod-email-capture"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "resource", 
              "value": "={{ $json.body.resource }}"
            },
            {
              "name": "page",
              "value": "={{ $json.body.page }}"
            },
            {
              "name": "source",
              "value": "={{ $json.body.source }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:9999/save-email",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "resource",
              "value": "={{ $json.resource }}"
            },
            {
              "name": "page",
              "value": "={{ $json.page }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-1",
      "name": "Save to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "8116230130",
        "text": "=🎉 New email signup!\n\n📧 {{ $json.email }}\n📁 Resource: {{ $json.resource }}\n📍 Page: {{ $json.page }}\n🕒 {{ $json.timestamp }}",
        "additionalFields": {}
      },
      "id": "telegram-1",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "telegramApi": "telegram-bot-cleverdogmethod"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Save to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Storage": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
